* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: #030824;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding-top: 7rem;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "BMDOHYEON";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
